<div class="container page-content">
  <div class="row">
    <div class="span1"></div>
    <div class="span6">
      <div class="box-container">
        <div class="padding30">
          <h2 class="page-title">Write a Review</h2>
          <%=  form_for @place do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name %>

              <%= f.label :category_id %>
              <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id] } %>

              <%= f.label :description %>
              <%= f.text_area :description %>

              <%= f.label :address1 %>
              <%= f.text_field :address1 %>

              <%= f.label :address2 %>
              <%= f.text_field :address2 %>

              <%= f.label :city %>
              <%= f.text_field :city %>

              <%= f.label :state %>
              <%= f.text_field :state %>

              <%= f.label :zipcode %>
              <%= f.text_field :zipcode %>

              <!--<%= f.label :country %>-->
              <!--<%= f.text_field :country %>-->

              <%= f.label :phone %>
              <%= f.text_field :phone %>

              <%= f.label :email %>
              <%= f.text_field :email %><br />

              <%= f.file_field :image %><br />

              <%= f.submit class: "btn span3 btn-realto-form btn-large" %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- .span8 -->
    <div class="span4 widget">
      <div class="widget map box-container padding30">
        <h3 class="widget-title">Get Directions</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12081.47821202897!2d<%= @place.longitude %>!3d<%= @place.latitude %>!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1486005356559" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <dl class="margin0">
          <dt><%= @place.name %></dt>
          <dd class="margin0"><%= @place.address1 %> <%= @place.address2 %></dd>
          <dd class="margin0"><%= @place.city %>, <%= @place.state %> <%= @place.zipcode %></dd>
        </dl>
      </div>
    </div>
    <!-- .span4 -->
  </div>
  <!-- .row -->
</div>
<!-- .container -->

