<div id="home-search-container">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="widget pull-right">
          <div class="row">
            <div class="span12 head-container">
            <div class="row">
              <div class="span8 hidden-phone">
                <h2 class="head-title">Welcome to Friendly Places</h2>
                <p class="head-message">Choose only a friendly place. Always</p><br>
                <%= link_to "Create new Place", new_place_path, class: "btn btn-large btn-realto span3 header-cta" %>
              </div>
              <div class="span4" style="padding-bottom: 100px">
                <div class="search-form">
                  <p>Find a friendly place</p>
                  <%= form_tag search_places_path, method: :get do |f| %>
                      <%= text_field_tag :search, nil, placeholder: "palace, italian, beer, etc." %>
                      <%= text_field_tag :location, nil, placeholder: "denver, paris, etc." %>
                      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
                      <%= submit_tag 'Search', class: "btn btn-realto span2"  %>
                  <% end %>
                </div>
                <!-- .search-form -->
              </div>
              <!-- .span4 -->
            </div>
          </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .search-holder -->
      </div>
      <!-- .span12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<div id="latest-properties">
  <div class="container">
  <div class="row">
    <div class="span12">
    <h2 class="secion-title">Properties</h2>
    </div>
  </div>

  <!-- Begin Carousel -->
  <div class="row">
    <div id="realto-carousel" class="carousel slide span12">
      <div class="carousel-navigation pull-right">
        <%= link_to "View all", search_places_path, class: "serif italic pull-left view-all-carousel" %>
      <a class="left carousel-control pull-left" href="#realto-carousel" data-slide="prev">‹</a>
      <a class="right carousel-control pull-right" href="#realto-carousel" data-slide="next">›</a>
      </div>
      <div class="carousel-inner">
        <div class="item active">
          <ul class="thumbnails">
            <% @places.last(3).each do |place| %>
              <li class="span4 box-container">
                <div class="holder">
                  <a class="overlay" title="property title" href="#">
                    <span class="more"></span>
                    <% if place.image_url.present? %>
                        <%= link_to image_tag(place.image_url.to_s), place %>
                    <% else %>
                        <%= link_to image_tag("http://placehold.it/370x210"), place  %>
                    <% end %>
                  </a>
                  <% if place.reviews.present? %>
                      <span class="prop-tag star-rating" data-score=<%= place.reviews.average(:rating).round(2) %>></span>
                  <% else %>
                    <span class="prop-tag">No reviews yet</span>
                  <% end %>
                  <div class="prop-info">
                    <h3 class="prop-title"><%= link_to place.name, place %></h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Category:</span> <span class="qty pull-right"><%= place.category.name %></span></li>
                      <li class="info-label clearfix"><span class="pull-left">Location:</span> <span class="qty pull-right"><%= place.city.capitalize %>, <%= place.state.upcase %></span></li>
                      <li class="info-label clearfix"><span class="pull-left">Phone:</span> <span class="qty pull-right"><%= place.phone %></span></li>
                    </ul>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div><!-- .item -->
        <div class="item">
          <ul class="thumbnails">
            <% @places.order(:id).reverse_order.limit(3).offset(3).each do |place| %>
                <li class="span4 box-container">
                  <div class="holder">
                    <a class="overlay" title="property title" href="#">
                      <span class="more"></span>
                      <% if place.image_url.present? %>
                          <%= link_to image_tag(place.image_url.to_s), place %>
                      <% else %>
                          <%= link_to image_tag("http://placehold.it/370x210"), place  %>
                      <% end %>
                    </a>
                    <div class="prop-info">
                      <h3 class="prop-title"><%= link_to place.name, place %></h3>
                      <ul class="more-info clearfix">
                        <li class="info-label clearfix"><span class="pull-left">Category:</span> <span class="qty pull-right"><%= place.category.name %></span></li>
                        <li class="info-label clearfix"><span class="pull-left">Location:</span> <span class="qty pull-right"><%= place.city.capitalize %>, <%= place.state.upcase %></span></li>
                        <li class="info-label clearfix"><span class="pull-left">Phone:</span> <span class="qty pull-right"><%= place.phone %></span></li>
                      </ul>
                    </div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div><!-- .item -->

      </div><!-- .carousel-inner -->
    </div>
  </div><!--End Carousel-->

  </div><!-- .container  -->
</div><!-- #latest-properties  -->


<!-- #latest-properties  -->
<div class="container">
  <div class="row">
    <div class="home-bottom-top">
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Hotels</h2>
          <% @hotels.limit(5).each do |place| %>
            <ul class="more-info clearfix">
              <li class="info-label clearfix"><%= link_to place.name, place %>
                <% if place.reviews.present? %>
                  <span class="qty pull-right star-rating" data-score=<%= place.reviews.average(:rating).round(2) %>></span>
                <% else %>
                  <span class="qty pull-right">No reviews yet</span>
                <% end %>
              </li>
            </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, hotels_path, class: "serif italic" %>
        </div>
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Restaraunts</h2>
          <% @restaurants.limit(5).each do |place| %>
              <ul class="more-info clearfix">
                <li class="info-label clearfix"><%= link_to place.name, place %>
                  <% if place.reviews.present? %>
                      <span class="qty pull-right star-rating" data-score=<%= place.reviews.average(:rating).round(2) %>></span>
                  <% else %>
                      <span class="qty pull-right">No reviews yet</span>
                  <% end %>
                </li>
              </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, restaurants_path, class: "serif italic" %>
        </div>
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Cafes</h2>
          <% @cafes.limit(5).each do |place| %>
              <ul class="more-info clearfix">
                <li class="info-label clearfix"><%= link_to place.name, place %>
                  <% if place.reviews.present? %>
                      <span class="qty pull-right star-rating" data-score=<%= place.reviews.average(:rating).round(2) %>></span>
                  <% else %>
                      <span class="qty pull-right">No reviews yet</span>
                  <% end %>
                </li>
              </ul>
          <% end %>
          <%= link_to "Continue &raquo".html_safe, cafes_path, class: "serif italic" %>
        </div>
      </div>
      <!-- .span4 -->
    </div>
  </div>
</div>


